@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 200px;
  font-family: "Montserrat", sans-serif;
}

body {
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}

:root {
  --header-bg-color: #ffffff0d;
  --header-color: rgba(0, 0, 0, 0.37);
  --absolute: black;
  --btnRowborder: rgb(245, 245, 247);
  --unactivelinks: #c9c9c9;
  --bg: #e4ecff;
  --bgdarker: #d6e0ff;
  --firstdark: #24252a;
  --seconddark: #212121;
  --contrast1: #ffb400;
  --contrast2: #28a987;
  --contrast3: #8a1c7c;
  --color: #222327;
  --heading: "Cormorant Garamond", serif;
  --inherit: "Montserrat", sans-serif;
}

.large-header {
  z-index: 999;
  width: 100%;
  margin-right: auto;
  padding: 1em 8% 2em;
  position: fixed;
  height: 118px;
  display: flex;
  justify-content: center;
}

.main-header {
  z-index: 1000;
  position: fixed;
  border: 1px solid var(--header-bg-color);
  background-color: var(--header-color);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 109px;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  height: 70px;
  margin-top: 0;
  padding-left: 32px;
  padding-right: 9px;
  display: flex;
}

.main-header a button {
  border-radius: 42px;
  padding: 16px 34px;
  background-color: var(--btnRowborder);
  border: none;
  color: var(--absolute);
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 600;
}

.main-header a button:hover {
  background-color: rgb(235, 235, 235);
  color: var(--firstdark);
}

.main-header .logo {
  height: 55px;
  width: auto;
  cursor: pointer;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-links li {
    padding: 0 10px;
  }
  .main-header a button {
    padding: 16px 24px;
  }
}

.nav-links li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--unactivelinks);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: white;
}

.page-container {
  height: auto;
  width: 100%;
  background-color: #f5f5f7;
  font-family: sans-serif;
  position: relative;
}

.content {
  height: auto;
}

.row-content {
  background-color: #f5f5f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

@media (max-width: 1024px) {
  .row-content {
    height: auto;
  }
}
 
section{
  background-color: #f5f5f7;
}

.hero{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hero img{
  height: 73vh;
  object-fit: cover;
  filter: brightness(90%);
}

.heroText{
  display: flex;
  flex-direction: row;
  color: black;
  width: 88%;
  margin: auto auto;
}

.heroText h1{
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 2.5rem;
  width: 50%;
}

.aditional{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

.aditional p{
  margin-bottom: auto;
  margin-top: auto;
}

.heroBtns{
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
  align-items: center;
}

.heroBtns a{
  color: #828080;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  align-items: center;
}

.heroBtns a i{
  font-size: 0.75rem;
  transition: all 0.2s ease;
  font-weight: 600;
}

.heroBtns a:hover i{
  margin-left: 0.5vh;
}

.heroBtns a button{
  background-color: #162859;
  padding: 10px 18px;
  border: #162859 2px solid;
  color: white;
  margin: 10px 0;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin-right: 2vh;
}

.heroBtns a button:hover{
  background-color: #112047;
}

.features{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: black;
}

.featuresText{
  width: 40%;
  text-align: center;
  margin-bottom: 2rem;
}

.featuresText h5{
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.featuresText h3{
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  line-height: 2.75rem;
  margin-bottom: 1rem;
}

.featuresText p{
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.featureHolder{
  display: flex;
  flex-direction: row;
  width: 88%;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.featureItem{
  width: 20%;
}

.featureItem i{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.featureItem h4{
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.featureItem p{
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.anchor a{
  color: #828080;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  align-items: center;
}

.anchor a i{
  font-size: 1rem;
  transition: all 0.2s ease;
  font-weight: 600;
}

.anchor a:hover i{
  margin-left: 1vh;
}

.testimonials{
  background-color: #5A1717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.testimonials h3,
.testimonials p{
  width: 88%;
}

.testimonials h3{
  font-size: 2.5rem;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 2rem;
}

.testimonials p{
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3rem;
}

.stars {
  margin-bottom: 0.75rem;
}

.review p{
  margin-bottom: 0.75rem;
  font-family: "Cormorant Garamond", serif;
}

.testimonialHolder{
  display: flex;
  flex-direction: row;
  width: 88%;
  justify-content: space-between;
}

.review{
  width: 45%;
  justify-content: space-between;
}

.stars {
  margin: 0 0 0.5rem 0;
}

.who{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfp,
.pfp img{
  height: 2rem;
  width: auto;
}

.who h5{
  margin-left: 0.5rem;
}

.aboutHero{
  display: flex;
  flex-direction: column;
  background: url(../images/aboutHero.png);
  filter: brightness(90%);
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.aboutHero h1{
  font-family: var(--heading);
  width: 80%;
  font-size: 6rem;
  text-align: center;
  color: #ffffff;
  filter: brightness(100%);
}
.aboutHero p{
  font-family: var(--inherit);
  width: 60%;
  text-align: center;
  color: #ffffffca;
  filter: brightness(100%);
}
.history{
  height: auto;
  align-items: center;
  justify-content: center;
}
.history .contain{
  width: 80%;
  color: #000000;
  text-align: justify;
  padding: 3rem 0;
  margin: auto;
}
.contain h1{
  text-align: center;
  font-family: var(--heading);
  font-size: 3rem;
  margin-bottom: 1rem;
  text-decoration: underline 4px #5A1717;
}
.contain h3{
  font-family: var(--heading);
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  width: fit-content;
  text-decoration: underline 3px #162859;
  transition: all .3s ease; 
}
.contain p{
  font-family: var(--inherit);
  font-size: 1rem;
  margin-bottom: 2rem;
}
.contain h3:hover{
  text-decoration: none;
}
.values{
  align-items: center;
  justify-content: center;
  background-color: #162859;
  height: auto;
}
.containValues{
  width: 80%;
  margin: auto;
  padding: 2rem 0 ;
}
.containValues h1{
  font-family: var(--heading);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.containValues h3{
  font-family: var(--heading);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: #c0c0c0;
}
.containValues p{
  color: #c3c3c3;
}
.containValues p:not(:last-of-type){
  font-family: var(--inherit);
  font-size: 1rem;
  margin-bottom: 1.75rem;
}

@media (max-width:767px) {
  .hero img{
    height: 60vh;
  }
  .aboutHero h1{
    font-size: 2.5rem;
  }
  .contain h1{
    font-size: 2rem;
  }
  .contain h3{
    font-size: 1.25rem;
  }
  .heroText{
    flex-direction: column;
  }
  .heroText h1{
    width: 100%;
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
  }
  .heroText .aditional{
    width: 100%;
    text-align: center;
  }
  .aditional p{
    margin-top: 0.5rem;
  }
  .aditional .heroBtns{
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
  .featuresText{
    width: 80%;
  }
  .featuresText h5{
    margin-bottom: 0;
  }
  .featuresText h3{
    font-size: 2rem;
    line-height: 2rem;
  }
  .featureHolder{
    flex-direction: column;
  }
  .featureItem{
    width: 100%;
  }
  .featureItem:not(:last-of-type){
    margin-bottom: 2rem;
  }
  
  .testimonials h3{
    font-size: 2rem;
  }
  .testimonialHolder{
    flex-direction: column;
  }
  .review{
    width: 100%;
  }
  .review:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .hero,
  .features{
    height: auto;
    border-bottom: #f5f5f7 5rem solid;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hero,
  .features,
  .history{
    height: auto;
    border-bottom: #f5f5f7 5rem solid;
  }
  .heroText{
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .heroText h1{
    width: 50%;
    font-size: 2rem;
    text-align: center;
  }
  .heroText .aditional{
    width: 100%;
    text-align: center;
  }
  .aditional p{
    margin-top: 0.5rem;
  }
  .aditional .heroBtns{
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
  .featuresText{
    width: 70%;
  }
  .featureHolder{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .featureItem{
    width: 80%;
  }
  .featureItem p{
    text-align: center;
  }
  .featureItem:not(:first-of-type) {
    margin-top: 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .heroText{
    margin-top: 3rem;
  }
  .hero,
  .features{
    height: auto;
    border-bottom: #f5f5f7 5rem solid;
  }
  .featuresText{
    width: 50%;
  }
  .featureItem{
    width: 23%;
  }
  .featureItem:not(:last-of-type){
    margin-bottom: 2rem;
  }
  
  .testimonials h3{
    font-size: 2rem;
  }
  .testimonialHolder{
    flex-direction: row;
  }
  .review{
    width: 50%;
  }
}

.compartment-title {
  color: #212121;
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-size: 3rem;
  display: flex;
  width: 100%;
  margin-inline: auto;
  justify-content: center;
  margin-bottom: 1rem;
}

.muzica {
  margin-top: -3rem;
}

@media (max-width: 45em) {
  .compartment-title {
    font-size: 1.75rem;
  }
  .muzica {
    margin-top: 1.5em;
  }
}

.muzica {
  margin-inline: auto;
  margin-top: 1em;
}

.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-inline: 3rem;
}

@media (max-width: 767px) {
  .navMenu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(1px);
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2100;
  }
  .wrapper{
    margin: 0;
  }

  .navMenu ul {
    display: flex;
    width: 90%;
    z-index: 2101;
    justify-content: space-between;
  }

  .navMenu ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 2102;
  }

  .navMenu ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    z-index: 2103;
    text-decoration: none;
  }

  .navMenu ul li a i {
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    transition: 0.5s;
    color: var(--color);
    z-index: 2107;
  }

  .navMenu ul li.active a i {
    transform: translateY(-37px);
    color: white;
  }

  .navMenu ul li a .navText {
    position: absolute;
    color: var(--color);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
    z-index: 2105;
  }

  .navMenu ul li.active a .navText {
    opacity: 1;
    transform: translateY(10px);
  }

  .indicator {
    position: absolute;
    bottom: 35px;
    width: 70px;
    height: 70px;
    background: #162859;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 2101;
    left: 0;
  }
}

@media (min-width: 768px) {
  .navMenu {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .wrapper {
    max-width: 48rem;
  }
  .muzica {
    margin-top: 6em;
    margin-bottom: 5rem;
  }
}

.accordion-image {
  max-width: 100%;
  display: block;
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: filter 500ms;
}

.accordion-panel:has([aria-expanded="true"]) .accordion-image {
  filter: brightness(0.4);
}

.accordion {
  --_button-size: 3rem;
  --_panel-padding: 0.75rem;
  --_panel-gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  contain: content;
}

@media (min-width: 1034px) {
  .accordion {
    flex-direction: row;
    height: 30rem;
  }
  .wrapper {
    width: 65rem;
  }
}

.accordion * {
  margin: 0;
}

.accordion-panel {
  position: relative;
  isolation: isolate;
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  overflow: hidden;
  padding: var(--_panel-padding);
  padding-right: calc(var(--_panel-padding) * 4);
  border-radius: 17px;
  --_panel-color: rgb(245, 247, 247);
  transition: flex-basis 500ms;
}

.accordion-panel:has([aria-expanded="true"]) {
  flex-basis: clamp(30rem, 40vh, 20rem);
  flex-grow: 1;
}

@media (max-width: 767px) {
  .large-header,
  .main-header{
    display: none;
  }
  .accordion-panel:has([aria-expanded="true"]) {
    flex-basis: clamp(15rem, 40vh, 20rem);
  }
}

.accordion-content > p {
  transform: translateY(2rem);
  opacity: 0;
  margin-left: calc(var(--_button-size) + var(--_panel-gap));
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel:has([aria-expanded="true"]) p {
    transition: transform 500ms 500ms, opacity 500ms 500ms;
  }
}

.accordion-panel:has([aria-expanded="true"]) p {
  transform: translateY(0);
  opacity: 1;
}

.accordion-trigger {
  display: flex;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  border: 0;
  padding: 0;
}

.accordion-iconS {
  background: hsl(0 0% 0% / 0.5);
  width: var(--_button-size);
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border-radius: 35%;
  z-index: 10;
}

.accordion-title {
  color: var(--btnRowborder);
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
}

@media (max-width: 991px) {
  .accordion-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 2));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.5);
    z-index: -1;
    border-radius: 17px;
  }
}

.price-holder {
  background: #394694;
  border-radius: 10px;
  margin-bottom: 5%;
  box-sizing: border-box;
  transition: 0.5s;
  display: grid;
  padding: 1rem;
  height: calc(1rem + 1rem + 2.5rem + 1rem);
  justify-content: space-between;
}

.price-holder:not(:last-child) {
  margin-right: 2rem;
}

.price-holder .name {
  font-weight: 400;
  font-size: 1rem;
  display: grid;
  align-items: center;
}

.price-holder .price {
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: calc();
}

.price-grid {
  width: 88%;
  height: auto;
  display: flex;
  margin-inline: auto;
  justify-content: center;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #f5f5f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  border-bottom: var(--btnRowborder) solid 9px;
}

.form {
  width: 88%;
  background-color: #f5f5f7ef;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 500;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  margin-top: 4rem;
}

@media (max-width: 767px) {
  .form {
    height: auto;
  }
}

@media (max-width: 991px) {
  .price-grid {
    width: 88%;
    height: auto;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
  }
}

@media (max-width: 659px) {
  .price-grid {
    flex-direction: column;
  }
  .price-holder {
    display: flex;
    height: auto;
  }
  .price-holder:not(:last-child) {
    margin-right: 0;
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.img-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: #5A1717;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.1);
}

.img-list li {
  border-radius: 0.5rem;
  height: auto;
}

.scroller.gallery{
    padding-top: 80px;
}

li img {
  height: 19rem;
  width: auto;
  border-radius: 0.5rem;
}

.scroller {
  max-width: 88%;
  margin-inline: auto;
}

.scroller__inner {
  padding-block: 1em;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, var(--bg) 15%, var(--bg) 85%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, var(--bg) 15%, var(--bg) 85%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.creatie {
  width: 100%;
}

#specialitate {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

select {
  appearance: none;
}

#form-rowline {
  display: flex;
  justify-content: space-between;
}

#varsta-elev {
  width: 95%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  margin-right: 0.25rem;
}

#localitate {
  width: 95%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  margin-left: 0.25rem;
}

.gender {
  text-align: center;
}

#female,
#male {
  display: none;
}
.female {
  width: 95%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  margin-right: 0.25rem;
  text-align: center;
}

.male {
  width: 95%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  margin-left: 0.25rem;
  text-align: center;
}

.female .radio__input:checked + .radio__label,
.male .radio__input:checked + .radio__label {
  background: #c9d6ff;
  color: #8fa9fd;
}

.about-us,
.about-us-last {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.about-us-last {
  padding-bottom: 50px;
}

.about-row {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .about-row {
    flex-direction: column;
  }
  .about-us,
  .about-us-last {
    padding-top: 20px;
  }
}

.about-col {
  flex-basis: 48%;
  color: var(--color);
  padding-bottom: 30px;
}

.about-col img {
  width: 100%;
  border-radius: 23px;
}

.about-col h1 {
  padding-top: 10%;
}

@media (max-width: 767px) {
  .about-col h1 {
    padding: 0;
  }
  .about-col-last h1 {
    padding: 0;
  }
}

.about-col p {
  padding: 15px 0 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.more {
  border-radius: 42px;
  padding: 12px 28px;
  background-color: var(--btnRowborder);
  border: none;
  color: var(--absolute);
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .img-box0,
  .img-box1,
  .img-box2 {
    display: none;
  }

  .img-box0,
  .img-box1,
  .img-box2 {
    flex: 1;
    position: relative;
  }
}

.contact-form {
  background-color: #162859;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #112047);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #162859;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

form .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #112047;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  margin: 0;
  transition: 0.3s;
}

form .btn:hover {
  background-color: transparent;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

#icon {
  width: 28px;
  height: 28px;
  color: #162859;
  padding-inline: auto;
  background-color: transparent;
  border: none;
  text-align: center;
  line-height: 28px;
  margin-right: 0.7rem;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #162859;
  font-size: 1.6rem;
  font-weight: 600;
}

.text {
  color: #333;
  margin: 1.5rem 0 2.5rem 0;
  font-size: 0.9rem;
}
.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #162859;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 190px;
  border: 27px solid #162859;
  border-radius: 50%;
  bottom: -107px;
  right: 50px;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
  }
  .contact-form:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
    rotate: 45deg;
  }
  .contact-info:before {
    width: 110px;
    height: 100px;
    border: 22px solid #c9d6ff;
    bottom: -77px;
  }
  .text {
    margin: 1rem 0 1.5rem 0;
  }
  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }
  .contact-info:before {
    display: none;
  }
  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.15rem;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  #icon {
    width: 23px;
    height: 23px;
    line-height: 23px;
  }
  .input {
    padding: 0.45rem 1.2rem;
  }
  .btn {
    padding: 0.45rem 1.2rem;
  }
}

.map-holder {
  width: 88%;
  height: auto;
}

.map-text {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 6vw;
  color: #8fa9fd;
  margin-bottom: 1rem;
}

.map {
  border-radius: 23px;
  height: 70vh;
  width: 100%;
}

iframe {
  border-radius: 23px;
  height: 70vh;
  width: 100%;
}

.grid {
  width: 88%;
  height: auto;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .grid {
    flex-direction: column;
  }
  .Creatie {
    margin-top: 2rem;
  }
}

.holder {
  flex-basis: 31%;
  background: #162859;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.holder:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.holder-title {
  font-size: 30px;
  font-weight: 600;
  color: #f5f5f7;
  text-align: center;
  opacity: 1;
}

.holder p {
  color: #f5f5f7;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px;
  opacity: 1;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f7;
  color: rgba(0, 0, 0, 0.56);
}
.footerMargin{
  width: 88%;
  margin: 1rem auto;
  justify-content: center;
}
.activeLinks{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.activeLinks img{
  height: 50px;
  width: auto;
}
.activeLinks .nativeLinks a{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  color: #333;
  font-weight: 400;
  text-underline-offset: 5px;
  transition: all .3s ease;
}
.activeLinks .nativeLinks a:hover{
  color: #000000;
  text-decoration: underline solid #5A1717;
}
.socialLinks{
  display: flex;
  flex-direction: row;
}
.activeLinks .socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.activeLinks .socialLinks a i{
  color: var(--color);
  margin: 0.5rem;
  transition: all .3s ease;
}
.activeLinks .socialLinks a i:hover{
  scale: 1.1;
  transform: translateY(-5px);
}
.footerInfo{
  width: 90%;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem auto;
}
.disclaimer{
  width: 90%;
  font-weight: 200;
  font-size: 0.75rem;
  text-align: center;
  margin: 1rem auto;
}
hr{
  background-color: rgba(0, 0, 0, 0.36);
  height: 1px;
  border: none;
}
.legalInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 0 0;
  align-items: center;
  font-size: 0.75rem;
}
.legalInfo .legalLinks a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.56);
}
.legalInfo .legalLinks a:hover{
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {
  /*Tablet*/
  .activeLinks{
    flex-direction: column;
  }
  .activeLinks img,
  .activeLinks .nativeLinks{
    margin-bottom: 1rem;
  }
  .row {
    justify-content: space-evenly;
  }
  .img-box {
    display: none;
  }
  .nav-links li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  /*Phone*/
  .activeLinks{
    flex-direction: column;
  }
  .activeLinks img,
  .activeLinks .nativeLinks{
    margin-bottom: 1rem;
  }
  .nativeLinks{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .footerMargin{
    margin-bottom: 110px;
  }
  .row-content {
    height: auto;
  }
  .nav-links ul li {
    display: block;
    padding: 3%;
  }
  .nav-links ul li a {
    font-weight: 600;
    font-size: 3vh;
    padding-left: 5%;
    color: #c9c9c9;
  }
}