@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 200px;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: auto;
}

:root{
    --header-bg-color: #ffffff0d;
    --header-color: rgba(0,0,0,0.37);
    --absolute: black;
    --btnRowborder: rgb(245, 245, 247);
    --unactivelinks: #c9c9c9;
    --bg: #e4ecff;
    --firstdark: #24252a;
    --seconddark: #212121;
    --contrast1: #ffb400;
    --contrast2: #28a987; 
    --contrast3: #8a1c7c;
}

.large-header{
    z-index: 999;
    width: 100%;
    max-width: 1350px;
    margin-left: 6%;
    margin-right: auto;
    padding: 1em 8% 2em 2em;
    position: fixed;
    height: auto;
}

.main-header {
    z-index: 1000;
    position: fixed;
    border: 1px solid var(--header-bg-color);
    background-color: var(--header-color);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 109px;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    height: 70px;
    margin-top: 0;
    padding-left: 32px;
    padding-right: 6px;
    display: flex;
}

.main-header a button{
    border-radius: 42px;
    padding: 18px 34px;
    background-color: var(--btnRowborder);
    border: none;
    color: var(--absolute);
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 600;
}

.main-header a button:hover{
    background-color: rgb(235, 235, 235);
    color: var(--firstdark);
}

.main-header .logo {
    height: 55px;
    width: auto;
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--unactivelinks);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover{
    color: white;
}

.page-container{
    height: auto;
    width: 100%;
    background: var(--bg);
    font-family: sans-serif;
    position: relative;
}

.content{
    height: auto;
}

.row-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-bottom: var(--btnRowborder) 9px solid;
    z-index: 0;
}

.ham-menu{
    display: none;
}

#autoshow{
    animation: autoShowAnimation both;
    animation-timeline: view(85% 20%);
}

@keyframes autoShowAnimation{
    from{
        opacity:0;
        transform: translateX(200px) scale(0.3);
    } to{
        opacity: 1;
        transform: translateX(0);
    }
}

.img-box0{
    width: 25%;
    height: 25%;
    position: absolute;
    top: 6%;
    left: 70%;
}

.img-box0 img{
    position: relative;
    transition:  all 0.7s;
}

.img-box0 .bubble0{
    z-index: 1;
    height: 90%;
    top: 0px;
    right: 40%;
}

.img-box0:hover .bubble0{
    transform: rotate(-10deg);
}

.img-box0 .violin{
    z-index: 2;
    height: 70%;
    top: -80%;
    right: 30%;
}

.img-box0:hover .violin{
    transform: translateY(16px) rotate(8deg);
}

.img-box0 .arch{
    z-index: 3;
    height: 60%;
    top: 0%;
    right: 20%;
    transform: translateY(-870px);
}

.img-box0:hover .arch{
    transform: rotate(11deg) translateY(-850px) translateX(-275px);
}

.info0{
    margin-left: 8%;
    margin-top: 2%;
}

.info0 h1{
    font-size: 85px;
    color: var(--seconddark);
    margin-bottom: 0px;
    line-height: 85%;
}

.info0 h1 .can{
    font-size: 160px;
    color: var(--contrast1);
    line-height: 85%;
}

.info0 h1 span{
    color: var(--contrast1);
}

.info0 p{
    padding: 30px 0;
    color: #5b5b5b;
    font-size: 15px;
}

.info0 a{
    background-color: var(--contrast1);
    padding: 10px 18px;
    border: var(--contrast1) 2px solid;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px 0;
    border-radius: 50px;
    transition: all 0.3s ease;

}

.info0 a:hover{
    border: #ffa800 2px solid;
    background-color: var(--bg);
    color: #ffa800;
    text-align: center;
}

.img-box1{
    width: 25%;
    height: 25%;
    position: absolute;
    top: 40%;
    left: -40%;
    scroll-padding: -50vh;
}

.img-box1 img{
    position: relative;
    transition:  all 0.7s;
}

.img-box1 .bubble1{
    z-index: 1;
    height: 85%;
    top: 0px;
    left: 185%;
}

.img-box1:hover .bubble1{
    transform: rotate(-10deg);
}

.img-box1 .saxophone{
    z-index: 2;
    height: 80%;
    top: -85%;
    left: 200%;
    transform: rotate(16deg);
}

.img-box1:hover .saxophone{
    transform: rotate(32deg) translateX(5%) translateY(20px);
}

.info1{
    position: relative;
    right: -52%;
    top: 2%;
    text-align: right;
}

.info1 h1{
    font-size: 85px;
    color: var(--seconddark);
    margin-bottom: 0px;
    line-height: 85%;
}

.info1 h1 .did{
    font-size: 160px;
    color: var(--contrast2);
    line-height: 85%;
}

.info1 h1 span{
    color: #28a987;
}

.info1 p{
    padding: 30px 0;
    color: #5b5b5b;
    font-size: 15px;
}

.info1 a{
    background-color: var(--contrast2);
    padding: 10px 18px;
    border: var(--contrast2) 2px solid;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px 0;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.info1 a:hover{
    border: #1f8a6b 2px solid;
    background-color: #e0eaff;
    color: #1f8a6b;
    text-align: center;
}

.img-box2{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 70%;
    left: 70%;
}

.img-box2 img{
    position: relative;
    transition:  all 0.7s;
}

.img-box2 .bubble2{
    z-index: 1;
    height: 120%;
    top: 10%;
    right: 55%;
}

.img-box2:hover .bubble2{
    transform: rotate(-10deg);
}

.img-box2 .guitar{
    z-index: 2;
    height: 110%;
    top: 0%;
    right: 35%;
    transform: translateY(-500px);
}

.img-box2:hover .guitar{
    transform: translateY(-500px) rotate(8deg);
}

.info2{
    margin-left: 8%;
    margin-top: 2%;
}

.info2 h1{
    font-size: 85px;
    color: var(--seconddark);
    margin-bottom: 0px;
    line-height: 85%;
}

.info2 h1 .arrive{
    font-size: 160px;
    color: var(--contrast3);
    line-height: 92%;
}

.info2 h1 span{
    color: var(--contrast3);
}

.info2 p{
    padding: 30px 0;
    color: #5b5b5b;
    font-size: 15px;
}

.info2 a{
    background-color: var(--contrast3);
    padding: 10px 18px;
    border: var(--contrast3) 2px solid;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px 0;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.info2 a:hover{
    border: #6a145e 2px solid;
    background-color: #e0eaff;
    color: #6a145e;
    text-align: center;
}

.footer{
    line-height: 1.5;
    background: rgb(245, 245, 247);
    padding: 45px 5%;
}

.footer-container{
    max-width: 1170px;
    margin: auto;
    margin: 0 15%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    list-style: none;
}

.footer-note{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.footer-note a{
    justify-content: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    padding: 5px 10px;
    margin-right: 25px;
}

.footer-note a:hover{
    border: 1px rgb(111, 111, 111);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(111, 111, 111, 0.3);
}

.footer-note a:hover p{
    color: rgb(111, 111, 111);
    text-decoration: underline;
}

.footer-note a:hover span i{
    background-color: rgb(111, 111, 111);
    color: #e6edfe;
}

.footer-note a span i {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: transparent;
    color: rgb(92, 93, 93);
    text-align: center;
    align-content: center;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.footer-note a p{
    color: rgb(92, 93, 93);
    font-size: 13px;
    transition: all 0.3s ease;
}

.footer-note a span {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: transparent;
    color: rgb(92, 93, 93);
    text-align: center;
    align-content: center;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.footer-note a:hover span{
    background-color: rgb(111, 111, 111);
    color: var(--bg);
}

.footer-line ul .f-listnote{
    color: rgb(111, 111, 111);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 5px;
}

.footer-line ul .f-listnote li{
    margin: 0 0 0 11px;
}

.footer-line ul .f-listnote .keynote{
    color: rgb(79, 79, 79);
    text-decoration: underline 1px solid rgb(92, 93, 93);
}

b{
    font-weight: 600;
    font-size: 12px;
}

.footer-col{
    width: 20%;
    padding-bottom: 20px;
}

.social-links {
    text-align: left;
    width: 60%;
}

.footer-col .footer-h4{
    width: 70%;
    position:relative;
    font-size: 13px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    text-decoration: underline 1.5px solid green;
}

.footer-col ul li::not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li{
    width: 70%;
}

.footer-col ul li a{
    width: 60%;
    font-size: 12px;
    color: rgb(92, 93, 93);
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    text-align: left;
}

.footer-col ul li a:hover{
    color: black;
    text-decoration: underline 1px solid black;
}

.footer-col .social-links a{
    display: inline-block;
    width: 22px;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
    color: rgb(92, 93, 93);
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
    color: rgb(111, 111, 111);
    scale: 1.1;
}

.footer-col .social-links .instagram-box a:hover{
    rotate: -10deg;
    transform: translateY(-2px);
}

.footer-col .social-links .facebook-box a:hover{
    transform: translateY(-2px);
    scale: 1.1;
}

.footer-col .social-links .youtube-box a:hover{
    rotate: 10deg;
    transform: translateY(-2px);
}

hr{
    height: 1px;
    width: 100%;
    background-color: rgb(92, 93, 93);
    margin: 15px 0%;
}

.footer-line{
    width: 100%;
    color: white;
    text-align: left;
}

.footer-h2{
    font-family: "Montserrat", sans-serif;
    color: rgb(92, 93, 93);
    font-weight: 500;
    font-size: 13px;
}

.footer-p{
    font-family: "Montserrat", sans-serif;
    color: rgb(92, 93, 93);
    font-weight: 400;
    font-size: 11px;
}

.disclaimer{
    font-family: "Montserrat", sans-serif;
    color: rgb(92, 93, 93);
    font-weight: 300;
    font-size: 9px;
    padding: 30px 0px;
    text-align: left;
}

@media (min-width:992px) and (max-width:1199px){ /*Laptop*/
    .img-box{
        height: 60%;
        margin-bottom: 5%;
    }
}

@media (min-width: 768px) and (max-width: 991px){ /*Tablet*/
    .footer-col{
        width: 33.3%;
        margin-bottom: 30px;
    }
    .row{
        justify-content: space-evenly;
    }
    .img-box{
        display: none;
    }
    .transparent-header.open .nav-links{
        transform: translateY(100%);
    }
    .nav-links{
        position: absolute;
        right: 0;
        top: -100vh;
        background-color: #24252a;
        padding: 90px 20px 20px 15px;
        height: 100vh;
        width: 100%;
        transition: transform .625s;
    }
    .nav-links ul li{
        display: block;
        padding: 3%;
    }
    .nav-links ul li a{
        font-weight: 600;
        font-size: 4vh;
        padding-left: 5%;
        color: #c9c9c9;
    }
    .transparent-header{
        padding: 7px 5% 7px 7%;
    }
    .ham-menu{
        height: 45px;
        width: 50px;
        position: relative;
        padding-right: 15px;
    }
    .ham-menu span{
        height: 2px;
        width: 50%;
        background-color: #c9c9c9;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 62.5%;
    }
    .ham-menu span:nth-child(2) {
        top: 37.5%;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: 
        translate(-50%, -50%)
        rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        top: 50%;
        transform: 
        translate(-50%, -50%)
        rotate(-45deg);
    }
}

@media(max-width: 767px){ /*Phone*/
    .row-content{
        height: auto;
    }
    .info{
        margin: 90% 5% 5% 5%;
        padding: 5%;
        align-items: center;
        justify-content: center;
    }
    .info h1{
        font-size: 35px;
    }
    .info p{
        font-size: 14px;
        color: #515151;
    }
    .info a{
        width: 285px;
        padding: 3% 20%;
        text-align: center
    }
    .img-box{
        display: none;
    }
    .transparent-header.open .nav-links{
        transform: translateY(100%);
    }
    .nav-links{
        position: absolute;
        right: 0;
        top: -100vh;
        background-color: #24252a;
        padding: 90px 20px 20px 15px;
        height: 100vh;
        width: 100%;
        transition: transform .625s;
    }
    .nav-links ul li{
        display: block;
        padding: 3%;
    }
    .nav-links ul li a{
        font-weight: 600;
        font-size: 3vh;
        padding-left: 5%;
        color: #c9c9c9;
    }
    .transparent-header{
        padding: 7px 5% 7px 7%;
    }
    .ham-menu{
        height: 45px;
        width: 50px;
        position: relative;
    }
    .ham-menu span{
        height: 2px;
        width: 50%;
        background-color: #c9c9c9;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 62.5%;
    }
    .ham-menu span:nth-child(2) {
        top: 37.5%;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: 
            translate(-50%, -50%)
            rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        top: 50%;
        transform: 
            translate(-50%, -50%)
            rotate(-45deg);
    }
    .page-container{
        padding: 73px 10px 0;
    }
    .footer-col{
        width: 100%;
    }
    .footer-line{
        width: 100%;
    }
    .footer-h2{
        font-size: 20px;
        padding: 0 10px;
    }
    .footer-p{
        font-size: 9px;
        padding: 0 20px;
    }
    .disclaimer{
        font-size: 7px;
        padding: 20px 5%;
    }
}